<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/images/loginform.css" />
<link rel="stylesheet" type="text/css" href="/images/form1.css" />
<script th:src="@{/js/Validate.js}"></script>
</head>
<body>


	<form action="#" th:action="@{CreateUser}" th:object="${UserDetails}"
		method="POST" onsubmit="return validate()">
		<header>
				<a id="logo" href="KaligiaMainApp.html" class="linkedImage"></a>
			</header>
			<div class="user">
				<div class="user_logout">
				<p id="user_name" th:text="${#httpServletRequest.remoteUser}"></p>
				</div>
			</div>
			
		<fieldset>
			<legend> User Details </legend>
			<table>
				<tr>
					
					<td>LoginId:</td>
					<td> <input id="LoginId" type="text"  
						th:field="*{userObject.loginId}" /></td>
					<td>Password:</td>
					<td> <input id="Password" type="text"  
						th:field="*{userObject.passwd}" />	</td>
					<td> <input type="number" hidden="hidden" 
						th:field="*{userObject.userId}" 
						th:value='0'/></td>
				</tr>
				<tr>
					<td>FirstName:</td>
					<td><input id="FirstName" type="text"  
						th:field="*{userObject.firstname}" /></td>
					<td>LastName:</td>
					<td> <input id="LastName" type="text"  
						th:field="*{userObject.lastname}" /></td>
					<td>Email:</td>
					<td> <input id="Email" type="email"  
						th:field="*{userObject.email}" /></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><input id="Phone" type="text"  
						th:field="*{userObject.phone}" /></td>
					 <td>Start Date:</td>
					<td> <input id="startDate" type="date"  
						th:field="*{startDate}" /></td>
					<td>End Date:</td>
					<td> <input id="endDate" type="date"  
						th:field="*{endDate}"/></td>					
				</tr>
				<tr>
					<td>Type:</td>
					<td><input type="text"  
						th:field="*{userObject.type}" /></td>
					<td>Status:</td>
					<td><select class="type_dropdown" th:field="*{userObject.status}">
							<option value="ACTIVE">ACTIVE</option>
							<option value="SUSPENDED">SUSPENDED</option></select>
							</td>
					<td>Role:</td>
					<td><select class="role_dropdown" th:field="*{userObject.roleId}">
						<option th:each="role,iterStat : ${RoleList}"
								th:value="${role.roleId}" th:text="${role.name}"></option>
								</select></td>	
				</tr>
				</table>
				<input class="submit-button" type="submit" name="Run" value="CREATE USER" onClick="return validate()"/>
		</fieldset>
	</form>
</body>
</html>
