<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Create Spectra Procedure</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/images/loginform.css" />
<link rel="stylesheet" type="text/css" href="/images/form1.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
</head>
<body>
	<form th:action="@{KaligiaRunOrder}" th:object="${RunOrder}" method="POST">
		<header>
				<div id="logo"></div>
			</header>
			<div class="user">
				<div class="user_logout">
				<p id="user_name" th:text="${#httpServletRequest.remoteUser}"></p>
				</div>
			</div>
			
		<hr />

		<fieldset>
			<legend>Order Data</legend>
			<table>
				<tr>
					<td>Order No :</td>
					<td><input id="orderNo" type="text" required="required"
						th:field="*{orderNo}" /></td>
					<td>Procedure</td>
					<td><select class="procedure_dropdown" id="procedureDrop" 
					th:field="*{testProcedure}">
							<option th:each="procedur,iterStat : ${ProcedureList}"
								th:value="${procedur.name}" th:text="${procedur.name}">
							</option>
							</select>
						</td>
				</tr>
				<tr>
					<td>Description:</td>
					<td><textarea id="msg" required="required"
							th:field="*{Description}"></textarea></td>
				</tr>
					
				<tr>
					<td>Specimen :</td>
					<td><input type="text" required="required"
						th:field="*{specimen}" /></td>
				</tr>
			</table>
		</fieldset>


		<fieldset>
			<legend>Patient Data</legend>
			<table>
				<tr>
					<td>Patient ID:</td>
					<td><input type="text" required="required"
						th:field="*{patientId}" /></td>
					<td>Date of Birth:</td>
					<td><input type="date" required="required"
						th:field="*{dateOfBirth}" /></td>
					<td>Gender:</td>
					<td><input type="text" required="required"
						th:field="*{patientGender}" /></td>
					
					<td>Ethnicity:</td>
					<td><input type="text" required="required"
						th:field="*{patientEthnicity}" /></td>
					
				</tr>
			</table>
		</fieldset>
		<fieldset>
			<legend>Patient Vitals</legend>
			<table>
				<tr>
					<td>BP (mmHg):</td>
					<td><input class="bp-box" type="text" required="required" th:field="*{systolicBP}" width="4" maxlength="4"/>  
					 / 
					 <input class="bp-box" type="text"	required="required" th:field="*{diastolicBP}" width="4" maxlength="4"/>
                    </td> 
					<td>Height (in inches):</td>
					<td><input type="text" required="required"
						th:field="*{patientHeight}" /></td>
					<td>Weight (in lbs):</td>
					<td><input type="text" required="required"
						th:field="*{patientWeight}" /></td>
                    
				</tr>
				<tr>
                    <td>Temperature(F):</td>
                    <td>
                        <input type="text" required="required"
                               th:field="*{patientTemp}" />
                    </td>
					<td>Oxygen level:</td>
					<td><input type="text" required="required"
						th:field="*{patientOLevel}" /></td>
					<td>Heart Rate (bpm):</td>
					<td><input type="text" required="required"
						th:field="*{patientHeartRate}" /></td>
					<!--  <td>Skin Color Value:</td>
					<td><input type="text" required="required"
						th:field="*{skinColor}" /></td>	
					-->
					<td>
					<button id="ajaxButton" type="button" onclick="getImage(); return false;"> SKIN CAPTURE</button>
					</td>
				</tr>
			</table>
		</fieldset>
		<div id="skinImage">
		<table>
				<tr>
					<td>Lumosity :</td>
					<td><input id="lumosity" type="text" readonly="readonly"
						th:field="*{lumosity}" /></td>
					<td>Red :</td>
					<td><input id="red" type="text" readonly="readonly"
						th:field="*{red}" /></td>
					<td>Green :</td>
					<td><input id="green" type="text" readonly="readonly"
						th:field="*{green}" /></td>
					<td>Blue :</td>
					<td><input id="blue" type="text" readonly="readonly"
						th:field="*{blue}" /></td>
					<td>File :</td>
					<td><input id="imageFile" type="text" readonly="readonly"
						th:field="*{imageFile}" /></td>
				</tr>
		</table>
		</div>
		
		<input class="submit-button" type="submit" name="RunTest"
				value="RUN TEST" />

	</form>
	
	
					
					
	<script type="text/javascript">
		//<![CDATA[

		function getImage(){
				var ordNo = document.getElementById("orderNo").value;
				if(ordNo == "" || ordNo == null)
				{
				    alert("OrderNo is empty. Please fill Order number.");
				    return;
				}
			/*$.ajax({url:"/skinCapture",
				method:"GET",
				//data: {orderNo: ordNo },
				success: function(status){
					console.log("Camera Successful" + status.toString());
					alert("Camera Successful" + status);
				},
				error: function(status){
					console.log("Camera failed" + status.toString());
					alert("Camera failed" + status);
				}
			});*/
				$.getJSON('/skinCapture', { orderNo: ordNo }, function(data, status) {
					document.getElementById("lumosity").value = data["lumosity"];
					document.getElementById("red").value = data["red"];
					document.getElementById("blue").value = data.blue;
					document.getElementById("green").value = data.green;
					document.getElementById("imageFile").value = data.imageFile;
				    console.log(" lumosity is "+ data["lumosity"]);
					document.getElementById("skinImage").style.display = "block";
				    
				}).fail( function(d, textStatus, error) {
			        console.error("skin Capture failed, status: " + textStatus + ", error: "+error);
			        alert("Skin Capture failed. Please check camera and retry")
			    });
			
			};
			
			
			
			
		//]]>
		</script>
</body>
</html>