<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kaligia Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/images/form1.css" />
</head>
<body>

<form action= "#" th:action="@{KaligiaMainApp}" th:object="${ProcedureList}" method="post">
<img src="/images/kaligia-logo.png" height="150" width="400" />

<HR/>
<br/>
  
            
            <table>
                <tr>
                    <th>Procedure Name</th>
                    <th>ProcedureId</th>
                    <th>Description</th>
                </tr>
                <tr th:each="procedur : ${ProcedureList}">
                    <td th:text="${procedur.name}"></td>
                    <td th:text="${procedur.procedureId}"></td>
                    <td th:text="${procedur.description}"></td>
                </tr>
            </table>


        
        <br/>
        <table >
            <tr>
              <td ><a href="http://localhost:8090/CreateProcedure.html" target="_self">Create a New Procedure</a></td>
            
              <td ><a href="http://localhost:8090/KaligiaRunOrder.html" target="_self">Run a New Test</a></td>
            </tr>
            <tr>
              <td >List All Run Results for a Procedure</td>
            
              <td >List Procedure Details</td>
            </tr>
          
        </table>
        
      
</form>

</body></html>