<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Spectra Procedure</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/images/form2.css" />
</head>
<body>
    <form action="#" th:action="@{KaligiaRunOrder}" th:object="${RunOrder}" method="POST">
        <img src="/images/kaligia-logo.png" height="150" width="400" />

        <hr/>
        <h2>ORDER RUN</h2>
        <fieldset>
            <legend>Run Criteria</legend>
            Order No
            <input type="text" required="required"
                   th:field="*{orderNo}" />
            <br/>
            Description:
            <textarea id="msg" required="required" th:field="*{Description}"></textarea>

            <br/>Procedure type
            <select th:field="*{type}">
                <option value="EX-VIVO">EX-VIVO</option>
                <option value="IN-VIVO" selected="selected">IN-VIVO</option>
            </select>
            <br/>Procedure 
            <input type="text" required="required"
                   th:field="*{testProcedure}" />
            <br/>Specimen
            <input type="text" required="required"
                   th:field="*{specimen}" />
            </fieldset>
            
            <TABLE>
			<TR>
				<TD width="800"></TD>
				<TD><input type="submit" name="Run" value="RUNORDER"
					style="background-color: #888; color: #fff;" /></TD>
			</TR>
		</TABLE>
</form>
</body>
</html>