<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Kaligia Login Page</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/images/loginform.css" />
</head>

<body>
<div class="wrapper">
	<header>
		<div id="logo"></div>
	</header>
	<div class="user">
	<!-- 	<div id="company_name">Company Name</div>
		<div id="profile_photo"></div>
		<div class="user_logout">
			<p id="user_name">User 1</p>
			<p id="logout"><a href="#">Logout</a></p>
		</div>  -->
	</div>
	
	
	<div th:if="${param.error}">Invalid username and password.</div>
	<div th:if="${param.logout}">You have been logged out.</div>
	
	<form th:action="@{/login}" method="post">
		<div class="login-div">
			<table class="userName">
			<tr> 
			<td>User Name : </td>  
			<td> <input type="text" name="username" /> </td>
			</tr>
			<tr>
			<td>Password: </td>
			<td><input type="password" name="password" /> </td>
			 
			</tr>
			<tr> <td><input class="submit-button"
				type="submit" value="SIGN IN" /> </td>
				</tr>
			</table>
		</div>
	</form>
	</div>
</body>
</html>