<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<img src="/images/kaligia-logo.png" height="150" width="400" />
	<h1>ResultKali</h1>
    <p th:text="'Name: ' + ${KaliSubmitTest.Name}" />
    <p th:text="'Description ' + ${KaliSubmitTest.Description}" />
    <p th:text="'Status Reading 1 ' + ${KaliSubmitTest.Status1}" />
    <p th:text="'Status Reading 2 ' + ${KaliSubmitTest.Status2}" />
    <p th:text="'Status Reading 3 ' + ${KaliSubmitTest.Status3}" />
    <p th:text="'Status Reading 4 ' + ${KaliSubmitTest.Status4}" />
    <p th:text="'Status Reading 5 ' + ${KaliSubmitTest.Status5}" />
    <p th:text="'Status Reading 6 ' + ${KaliSubmitTest.Status6}" />
    <p th:text="'Status Reading 7 ' + ${KaliSubmitTest.Status7}" />
    <p th:text="'Status Reading 8 ' + ${KaliSubmitTest.Status8}" />
    <p th:text="'Status Reading 9 ' + ${KaliSubmitTest.Status9}" />
    <p th:text="'Status Reading 10 ' + ${KaliSubmitTest.Status10}" />
    
    
    <a href="/KaliSubmitTest">Submit another message</a>
</body>
</html>
