<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Procedure Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/images/form1.css" />
</head>
<body>


	<form action="#" th:action="@{getUserDetail}" th:object="${UserDetails}"
		method="POST">
		
		<fieldset>
			<legend> User Details </legend>
			<table>
				<tr>
					
					
					<td>LoginId:</td>
					<td> <input type="text" readonly="readonly" 
						th:field="*{userObject.loginId}"
						th:value="${UserDetails.userObject.loginId}" /></td>
					<td>Password:</td>
					<td> <input type="text"  
						th:field="*{userObject.passwd}"
						th:value="${UserDetails.userObject.passwd}" />	</td>
						<td> <input type="text" hidden="hidden" 
						th:field="*{userObject.userId}"
						th:value="${UserDetails.userObject.userId}" /></td>
						<td></td>
				</tr>
				<tr>
					<td>FirstName:</td>
					<td><input type="text"  
						th:field="*{userObject.firstname}"
						th:value="${UserDetails.userObject.firstname}" /></td>
					<td>LastName:</td>
					<td> <input type="text"  
						th:field="*{userObject.lastname}"
						th:value="${UserDetails.userObject.lastname}" /></td>
					<td>Email:</td>
					<td> <input type="email"  
						th:field="*{userObject.email}"
						th:value="${UserDetails.userObject.email}" /></td>
				</tr>
				<tr>
					<td>Phone:</td>
					<td><input type="text"  
						th:field="*{userObject.phone}"
						th:value="${UserDetails.userObject.phone}" /></td>
					<td>Start Date:</td>
					<td> <input type="date"  
						th:field="*{startDate}"
						th:value="${UserDetails.startDate}" /></td>
					<td>End Date:</td>
					<td> <input type="date"  
						th:field="*{endDate}"
						th:value="${UserDetails.endDate}" /></td>
				</tr>
				<tr>
					<td>Type:</td>
					<td><input type="text"  
						th:field="*{userObject.type}"
						th:value="${UserDetails.userObject.type}" /></td>
					<td>Status:</td>
					<td><select class="type_dropdown" th:field="*{userObject.status}">
							<option value="ACTIVE" 
							th:selected="${UserDetails.userObject.status==ACTIVE?'':selected}">ACTIVE</option>
							<option value="SUSPENDED"
							th:selected="${UserDetails.userObject.status==SUSPENDED?'':selected}">SUSPENDED</option></select>
							</td>
					<td>Role:</td>
					<td><select class="role_dropdown" th:field="*{userObject.roleId}">
						<option th:each="role,iterStat : ${RoleList}"
								th:value="${role.roleId}" th:text="${role.name}"
								th:selected="${role.roleId==UserDetails.userObject.roleId?'':selected}"></option>
								</select></td>	
				</tr>
				</table>
				<input class="submit-button" type="submit" name="Run" value="UPDATE"/>
		</fieldset>
	</form>
</body>
</html>
