form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 95%;

  /* To see the limits of the form */
  padding: 1em;
  border: 1px solid #777;
  border-radius: 3px;
  background-color: #c1edff;
  box-shadow: 1px 1px 5px #000;
	font-family: verdana;
    font-size:12px; 
}

div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 70px;
  text-align: right;
}

/*
input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font 
  font: 1em sans-serif;

  /* To give the same size to all text field 
  width: 90px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border 
  border: 1px solid #999;
}
*/

input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #ff6a00;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 4em;
  width: 100%;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 100px; /* same size as the label elements */
}

button {
  /* This extra magin represent the same space as the space between
     the labels and their text fields */
  margin-left: .5em;
}


table, input {
	font-size: 14px;	
}

select {
	width: 100%;
}
input{
	width: 100%;
    text-align: left;
}

.create-proc-segments input {
	width: 100%;
	text-align: right;
}

.bp-box{
 width: 45%
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    border: 0;
    margin: 0;
    padding: 5px;
}
 table tr {
    border: 0;
    margin: 0;
    padding: 0;
}
table td {
    border: 0;
    margin: 0;
    padding: 5px;
    text-align: right;
}

 a.button {
	font-size: 70%;
	text-shadow: none;
	text-decoration: none;
	text-align:center;
	text-shadow: -1px -1px 1px #72aebd;
	text-transform:uppercase;
	letter-spacing: 0.10em;
	color:#fff;
	padding: 7px 10px 4px 10px;
	border-radius: 5px;
	background-color:#00CC99;
	border-top: 1px solid #90f2da;
	border-right:1px solid #00a97f;
	border-bottom:1px solid #008765;
	border-left: 1px solid #7dd2bd;
	box-shadow: 2px 1px 2px #ccc;
	margin:10px 5px 10px 5px;
	display:block;}

 a.button:hover {
	position:relative;
	top:1px;
	left:1px;
	background-color:#00CCFF;
	border-top: 1px solid #9aebff;
	border-right:1px solid #08acd5;
	border-bottom:1px solid #07a1c8;
	border-left: 1px solid #92def1;
	box-shadow: -1px -1px 2px #ccc;}
	
.submit-div{
  float:right;
  padding: 10px;
}

.submit-button{
  width:120px;
  position:relative;
	left:90%;
  font-size: 12px;
	text-shadow: none;
	text-decoration: none;
	text-align:center;
	/*text-shadow: -1px -1px 1px #72aebd;*/
	text-transform:uppercase;
	color:black;
	padding: 7px 10px 4px 10px;
	border-radius: 5px;
	background-color:#CCCCCC;
	border-top: 1px solid #90f2da;
	border-right:1px solid #00a97f;
	border-bottom:1px solid #008765;
	border-left: 1px solid #7dd2bd;
	box-shadow: 2px 1px 2px #ccc;
	margin:10px 5px 10px 5px;
	/*display:block;*/
	
}

.submit-button:hover {
	
	top:1px;
	/*left:1px;*/
	background-color:#00CCFF;
	border-top: 1px solid #9aebff;
	border-right:1px solid #08acd5;
	border-bottom:1px solid #07a1c8;
	border-left: 1px solid #92def1;
	box-shadow: -1px -1px 2px #ccc;}
