form {
  /* Just to center the form on the page */
  margin: 0 auto;
  width: 95%;

  /* To see the limits of the form */
  padding: 1em;
  border: 1px solid #777;
  border-radius: 3px;
  background: #c1edff;
  box-shadow: 1px 1px 5px #000;
  font-family: verdana;
  font-size:12px;
   
}

div + div {
  margin-top: 1em;
}

label {
  /* To make sure that all label have the same size and are properly align */
  display: inline-block;
  width: 70px;
  text-align: right;
}

/*
input, textarea {
  /* To make sure that all text field have the same font settings
     By default, textarea are set with a monospace font 
  font: 1em sans-serif;

  /* To give the same size to all text field 
  width: 90px;

  -moz-box-sizing: border-box;
       box-sizing: border-box;

  /* To harmonize the look & feel of text field border 
  border: 1px solid #999;
}
*/

input:focus, textarea:focus {
  /* To give a little highligh on active elements */
  border-color: #ff6a00;
}

textarea {
  /* To properly align multiline text field with their label */
  vertical-align: top;

  /* To give enough room to type some text */
  height: 4em;
  width: 100%;

  /* To allow users to resize any textarea vertically
     It works only on Chrome, Firefox and Safari */
  resize: vertical;
}

.button {
  /* To position the buttons to the same position of the text fields */
  padding-left: 100px; /* same size as the label elements */
}

button {
  /* This extra magin represent the same space as the space between
     the labels and their text fields */
  margin-left: .5em;
}


table, input {
	font-size: 14px;	
}

input{
	width : 100%;
}
select {
	width: 100%;
}

table {
    box-sizing: border-box;
    border-collapse: collapse;
    width: 100%;
    margin: 0;
    padding: 5px;
}


.main-procedure {
	border: 1px solid darkgray;
  background-color: #a1edff;
  border-right: 1px solid gray;
  border-radius: 5px;
}

.main-procedure td{
  border-right: 1px solid gray;
}

 table tr {
    border: 0;
    margin: 0;
    padding: 0;
   
}

table td {
    margin: 0;
    padding: 5px 10px;
    text-align: right;
    padding: 5px;
}

.main-procedure th{
  background-color: darkgray;
  font-size: 17px;
  color: white;
}

.odd {
  background-color: skyblue;
}

.link-button {
	font-size: 12px;
	text-shadow: none;
	text-decoration: none;
	text-align:center;
	/*text-shadow: -1px -1px 1px #72aebd;*/
	text-transform:uppercase;
	width: 120px;
	color:black;
	padding: 7px 10px 4px 10px;
	border-radius: 4px;
	background-color:#CCCCCC;
	border-top: 1px solid #90f2da;
	border-right:1px solid #00a97f;
	border-bottom:1px solid #008765;
	border-left: 1px solid #7dd2bd;
	box-shadow: 2px 1px 2px #ccc;
	margin:10px 3px 10px 3px;
	display:inline;}

.link-button:hover {
	position:relative;
	top:1px;
	left:1px;
	background-color:#00CCFF;
	border-top: 1px solid #9aebff;
	border-right:1px solid #08acd5;
	border-bottom:1px solid #07a1c8;
	border-left: 1px solid #92def1;
	box-shadow: -1px -1px 2px #ccc;}

.submit-div{
  float:right;
  padding: 10px;
}

.submit-button{
  width:100px;
  position:relative;
	left:90%;
  
	text-align:center;
	/*text-shadow: -1px -1px 1px #72aebd;*/
	text-transform:uppercase;
	letter-spacing: 0.10em;
	color:black;
	padding: 7px 10px 4px 10px;
	border-radius: 5px;
	background-color:#CCCCCC;
	border-top: 1px solid #90f2da;
	border-right:1px solid #00a97f;
	border-bottom:1px solid #008765;
	border-left: 1px solid #7dd2bd;
	box-shadow: 2px 1px 2px #ccc;
	margin:10px 3px 10px 3px;
	/*display:block;*/
	
}

.submit-button:hover {
	
	/*top:1px;
	left:1px;*/
	background-color:#00CCFF;
	border-top: 1px solid #9aebff;
	border-right:1px solid #08acd5;
	border-bottom:1px solid #07a1c8;
	border-left: 1px solid #92def1;
	box-shadow: -1px -1px 2px #ccc;}

.Name-column {
  width: 15%;
}

.Desc-column{
  width: 75%;
}

iframe {
  width:100%;
  height:calc(60vh - 30px);
  border: 0;
}

#run-order{
  
  position:relative;
  left:65%;
  font-size: 12px;
}

#run-order:hover{
  
  position:relative;
  bottom:1px;
  font-size: 12px;
}

.create-proc-segments input {
	width: 100%;
	text-align: right;
}

.left{
  width:200px;
  float:left;
}

.bp-box{
 width: 45%
}

#skinImage {
	display : none;
}

button{
  width:100px;
   
	text-align:center;
	/*text-shadow: -1px -1px 1px #72aebd;*/
	text-transform:uppercase;
	letter-spacing: 0.10em;
	color:black;
	padding: 7px 10px 4px 10px;
	border-radius: 5px;
	background-color:#CCCCCC;
	border-top: 1px solid #90f2da;
	border-right:1px solid #00a97f;
	border-bottom:1px solid #008765;
	border-left: 1px solid #7dd2bd;
	box-shadow: 2px 1px 2px #ccc;
	margin:10px 3px 10px 3px;
	/*display:block;*/
	
}

button:hover {
	
	/*top:1px;
	left:1px;*/
	background-color:#00CCFF;
	border-top: 1px solid #9aebff;
	border-right:1px solid #08acd5;
	border-bottom:1px solid #07a1c8;
	border-left: 1px solid #92def1;
	box-shadow: -1px -1px 2px #ccc;}