
body
{
	background: #eee;
}
.wrapper
{
	width: 95%;
	height: 710px;
	margin: 0 auto;
	background: #FFF;
	box-shadow: 1px 1px 5px #000;
	font-family: verdana;
}
header
{
	height: 50px;
	background: #FFF;
	text-align: right;
	font-size:14px;
}
#logo
{
	width: 150px;
	height: 50px;
	background: url('/images/kaligia-logo.png') no-repeat;
	background-size: 100% 100%;
	float: left;
	margin: 5px 10px;
}

#logo1
{
	float: right;
	margin: 0;
    padding: 5px 10px;
    text-align: right;
    padding: 5px;
}

#logo2
{
	width: 30px;
	height: 5px;
	background-size: 100% 100%;
	float: right;
	margin: 5px 10px;
}

#close
{
	width: 35px;
	height: 35px;
	background: url('/images/close_btn.png') no-repeat;
	background-size: 100% 100%;
	float: right;
	margin: 15px;
}
.logoutLblPos{

   position:fixed;
   right:10px;
   top:5px;
}

.user
{
	width: 100%;
	height: 30px;
	background: url('/images/profile.png') no-repeat;
	background-size: 100% 100%;
	clear: both;
	margin-top: 10px;
}
.user_logout
{
	width: 90px;
	float: right;
	line-height: 1px;
}
.user p
{
	text-align: right;
	font-size:14px;
}


#user_name
{
	padding-top: 7px;
}

#log
{
	padding-top: 5px;
}

#logout a
{
	
	font-size: 12px;
	color: #FFF;
}
#logout a:hover
{
	text-decoration: none;
}
#company_name
{
	line-height: 60px;
	color: #FFF;
	padding: 0 0 0 30px;
	float: left;
}
#profile_photo
{
	width: 50px;
	height: 50px;
	background: url('/images/profile_pic.png') no-repeat;
	background-size: 100% 100%;
	float: right;
	margin: 5px 15px 0 15px;
}
.left
{
	float: left;
	width: 460px;
}
.menu
{
	float: left;
	width: 110px;
	height: 500px;
	background: url('/images/lateral_menu.png') no-repeat;
	background-size: 100% 100%;
}
#menu1, #menu2, #menu3, #menu4 
{
	width: 100px;
	height: 85px;
	cursor: pointer;
}
#menu1
{
	background: url('/images/menu1.png') no-repeat;
	background-size: 100% 100%;
}
#menu2
{
	background: url('/images/menu2.png') no-repeat;
	background-size: 100% 100%;
}
#menu3
{
	background: url('/images/menu3.png') no-repeat;
	background-size: 100% 100%;
}
#menu4
{
	background: url('/images/menu4.png') no-repeat;
	background-size: 100% 100%;
}
#menu_hover1, #menu_hover2, #menu_hover3, #menu_hover4
{
	width: 110px;
	height: 85px;
	background: url('/images/menu_opacity.png') no-repeat;
	background-size: 100% 100%;
	position: absolute;
	display: none;
}
.search
{
	float: right;
	width: 350px;
	height: 50px;
}
.search > input[type="text"]
{
	width: 280px;
	height: 28px;
	float: left;
	padding-left: 10px;
	margin: 9px;
	border: 2px solid #ccc;
	border-radius: 50px;
	background: #FFF;
}
#search_button
{
	width: 35px;
	height: 35px;
	background: url('/images/search.png') no-repeat;
	background-size: 100% 100%;
	float: right;
	margin: 7px;
}
.checkbox
{
	float: right;
	width: 330px;
	height: 35px;
	padding-left: 10px;
	text-align: left;
	font-size: 12px;
}
.sub_menu
{
	float: right;
	width: 350px;
	height: 355px;
	background: #f0f0f0;
	border-top: 1px solid #999;
	border-bottom: 2px solid #999;
	text-align: center;
}
.sub_menu #menu_ul
{
	list-style: none;
	padding: 0;
}
.sub_menu #menu_ul li
{
	border-bottom: 1px solid #ccc;
	padding-left: 5px;
	height: 25px;
	line-height: 25px;
	width: 345px;
	text-align: left;
}
.sub_menu #menu_ul li:hover
{
	background: url('/images/active.png') no-repeat;
	background-size: 100% 100%;
	width: 350px;
	border-bottom: 1px solid #fff;
}
.sub_menu #menu_ul li a
{
	text-decoration: none;
	color: #666;
	font-size: 14px;
	display: block;
	position: absolute;
}
.sub_menu #pagination
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
}
.sub_menu #pagination li
{
	float: left;
	padding: 5px;
}
.sub_menu #pagination li:hover
{
	background: #60ceff;
}
.sub_menu #pagination li a
{
	text-decoration: none;
	color: #666;
	font-size: 12px;
}
.login-div
{

	width: 100%;
	font-size: 14px;
	color: #666;
	text-align: justify;
	padding-left: 50px;
	padding-top: 50px;
	height: 450px;
	/*overflow-y: scroll;*/
}
.ui-dialog-titlebar-close{
    display: none;
}
.right table
{
	font-size: 9px;
	color: #666;
	text-align: center;
}
.right table td
{
	padding: 5px 0;
}

.userName table {
	padding: 20px 20px 20px 20px;
	border: 2px solid #ccc;
	border-radius: 5px;
	background-color: #eee;
	
}

.userName table input{
	border: 1px solid gray;
	border-radius: 4px;
}

.submit-button{
  width:100px;
  position:relative;
	left:90%;
  font-size: 90%;
	text-shadow: none;
	text-decoration: none;
	text-align:center;
	/*text-shadow: -1px -1px 1px #72aebd;*/
	text-transform:uppercase;
	letter-spacing: 0.10em;
	color:black;
	padding: 7px 10px 4px 10px;
	border-radius: 5px;
	background-color:#CCCCCC;
	border-top: 1px solid #90f2da;
	border-right:1px solid #00a97f;
	border-bottom:1px solid #008765;
	border-left: 1px solid #7dd2bd;
	box-shadow: 2px 1px 2px #ccc;
	margin:10px 5px 10px 5px;
	/*display:block;*/
	
}

.submit-button:hover {
	
	/*top:1px;
	left:1px;*/
	background-color:#00CCFF;
	border-top: 1px solid #9aebff;
	border-right:1px solid #08acd5;
	border-bottom:1px solid #07a1c8;
	border-left: 1px solid #92def1;
	box-shadow: -1px -1px 2px #ccc;}